Data from below link

https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html
    
    Set this up to automatically pull the data from the site - should be able to use python to do it?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('covid19_data_nov.csv')
data.drop(['pruid','prnameFR','numrecover', 'percentrecover',
       'ratetested','percentoday', 'ratetotal', 'ratedeaths','percentdeath','numrecoveredtoday',
       'percentactive','rateactive', 'numtotal_last14',
       'ratetotal_last14', 'numdeaths_last14', 'ratedeaths_last14',
       'numtotal_last7', 'ratetotal_last7', 'numdeaths_last7',
       'ratedeaths_last7', 'avgtotal_last7', 'avgincidence_last7',
       'avgdeaths_last7', 'avgratedeaths_last7' ],axis=1,inplace=True)

Further filter data and decide which fields to use
then join this dataset into the google mobility dataset by date and province 
Going to use only the numconf + numtotal columns for the time being

In [3]:
small_data = data.drop(['numprob', 'numdeaths', 
       'numtested', 'numconf', 'numdeathstoday', 'numtestedtoday',
       'numactive'
            ],axis=1)

In [7]:
small_data.to_csv('Canada_covid_data_nov_v2.csv')

,prname,date,numconf,numprob,numdeaths,numtotal,numtested,numtoday,numdeathstoday,numtestedtoday,numactive
0,Ontario,2020-01-31,3,0,0.0,3,NaN,3,0.0,NaN,3.0
1,British Columbia,2020-01-31,1,0,0.0,1,NaN,1,0.0,NaN,1.0
2,Canada,2020-01-31,4,0,0.0,4,NaN,4,0.0,NaN,4.0
3,Ontario,2020-02-08,3,0,0.0,3,NaN,0,0.0,NaN,3.0
4,British Columbia,2020-02-08,4,0,0.0,4,NaN,3,0.0,NaN,4.0

             prname        date  numtotal  numtoday
0           Ontario  2020-01-31         3         3
1  British Columbia  2020-01-31         1         1
2            Canada  2020-01-31         4         4
3           Ontario  2020-02-08         3         0
4  British Columbia  2020-02-08         4         3